/*------------------------------------*\
	$DETILE
\*------------------------------------*/
/**
 * object with a header, content(usually image or something rigid), footer 
 * setup where the content is shown and the header and footer are displayed
 * when the content is click. clicking on the content again hides the header
 * and footer. the header and footer could usually be block links that take
 * you to detail page of the tile content.
 *
 *
	<div class="detile">
	  <div class="detile__header">This will be the Heading div</div>
	  <div class="detile__content">Image div</div>
	  <div class="detile__footer">Related info like completed date, here</div>
	</div>

 *
 * Demo: http://codepen.io/affenity/pen/gLnzm

 * NOTE : depends on MODERNIZR modules csstransitions and js
 *
 */

 .detile {
	/*  Set width and height as per the need

	width: 250px;
	height: 220px;*/

	/*Set border as per need
	border: 1px solid $base-ui-color;*/

	margin: $half-spacing-unit;
	position: relative;
	overflow: hidden;
}

.detile__content {
	/*content should cover the detile block fully*/
 	width: 100%;
	height: 100%;

	/*Style content as per need
	*/
}

.detile__header, .detile__footer {
	position: absolute;
	padding: $half-spacing-unit/2;

	/* Style the header and footer as per need
	color: white;
	background-color: black; */

	width: 100%;
	height: 32%;
}

/* set transition effect here if browser has support*/
.csstransitions .detile__header, .csstransitions .detile__footer {  
	transition: -webkit-transform 500ms ease;
	transition:    -moz-transform 500ms ease;
	transition:     -ms-transform 500ms ease;
	transition:      -o-transform 500ms ease;
	transition:         transform 500ms ease;
}



/*header stuff*/
/*initiate only if js is enabled*/
.js .detile__header {
	bottom: 100%;
}

/*initial movement/happens when content detile--flip class is removed*/
.js.csstransitions .detile__header {
	/*reset back before translating*/
	top: 0;

	-webkit-transform: translate3d(0, -100%, 0);
	   -moz-transform: translate3d(0, -100%, 0);
	    -ms-transform: translate3d(0, -100%, 0);
	     -o-transform: translate3d(0, -100%, 0);
		    transform: translate3d(0, -100%, 0);
}

/*flip to show header and footer without translating when not supported*/
.detile--flip .detile__header {
  top: 0;
}

/*flip with translation when supported*/
.csstransitions .detile--flip .detile__header {
	/*reset back before translating*/
	bottom: 100%;

	-webkit-transform: translate3d(0, 0, 0);
	   -moz-transform: translate3d(0, 0, 0);
	    -ms-transform: translate3d(0, 0, 0);
	     -o-transform: translate3d(0, 0, 0);
		    transform: translate3d(0, 0, 0);
}



/*footer stuff*/
/*show footer at the bottom by default if no js*/
.detile__footer {
	bottom: -1px;
}

/*initiate only if js is enabled*/
.js .detile__footer {
	bottom: -100%;
}

/*initial movement/happens when content detile--flip class is removed*/
.js.csstransitions .detile__footer {
	/*reset back before translating*/
	bottom: -1px;

	-webkit-transform: translate3d(0, 100%, 0);
	   -moz-transform: translate3d(0, 100%, 0);
	    -ms-transform: translate3d(0, 100%, 0);
	     -o-transform: translate3d(0, 100%, 0);
		    transform: translate3d(0, 100%, 0);
}

/*flip to show header and footer without translating when not supported*/
.detile--flip .detile__footer {
	bottom: -1px;
}

/*flip with translation when supported*/
.csstransitions .detile--flip .detile__footer {
	-webkit-transform: translate3d(0, 0, 0);
	   -moz-transform: translate3d(0, 0, 0);
	    -ms-transform: translate3d(0, 0, 0);
	     -o-transform: translate3d(0, 0, 0);
		    transform: translate3d(0, 0, 0);
}

