/*------------------------------------*\
    $SITE-FOOTER
\*------------------------------------*/

.site-footer {
    background:#333;
    color:$base-bg-color;
    margin-top:$base-spacing-unit;
    padding-top:$base-spacing-unit;
    padding-bottom:$base-spacing-unit;
    text-align: center;
}
    // .quick-links {
    //     @extend .list--inline;
    //     .text-link {
    //         color:inherit;
    //         &:hover, &:focus, &:active {
    //             color:$brand-color-2;
    //         }
    //     }
    // }
    
    // .quick-links__container {
    //     margin-bottom:$half-spacing-unit;
    // }

.site-footer p {
    &:last-child {
        margin-bottom:0
    }
}