/*------------------------------------*\
    TABLE - $CELL-ALIGNMENTS
\*------------------------------------*/

[colspan] {
    text-align:center;
}
[colspan="1"] {
    text-align:left;
}
[rowspan] {
    vertical-align:middle;
}
[rowspan="1"] {
    vertical-align:top;
}
.numerical {
    text-align:right;
}