/*------------------------------------*\
    $TABLE--BORDERED
\*------------------------------------*/

.table--bordered {

    th,
    td {
        border:1px solid $brand-color;

        &:empty {
            border:none;
        }
    }
}

.tr--highlight {
    background:skyblue;
    font-weight:bold;
}

.tr--highlight--alternate {
    background:orange;
    font-weight:bold;
}