/*------------------------------------*\
    $AUTO-MARGIN
\*------------------------------------*/

/**
 * mixin and class with simple implementation of centering objects horizontally
 */

%auto-margin {
	margin-left:auto;
	margin-right:auto;
}