/*------------------------------------*\
    $BORDERS
\*------------------------------------*/

/**
 * full border
 */
 
%full-border {
	border: 1px solid $base-ui-color;
}

%round {
	-webkit-border-radius: $brand-round;
	   -moz-border-radius: $brand-round;
	        border-radius: $brand-round;
}

%full-border--round {
	@extend %full-border;
	@extend %round;
}