/*------------------------------------*\
    PROPERTIES - $BRAND
\*------------------------------------*/
/**
 * Brand stuff
 */
$brand-color:            #0077cb;
$brand-color-2:          #f57d00;
$brand-color-complement: #fefefe;
$brand-face:             'ubuntu', san-serif;

/**
 * How big would you like round corners to be by default?
 */
$brand-round:        3px;
