/*------------------------------------*\
    PROPERTIES - $BRAND
\*------------------------------------*/
/**
 * Brand stuff
 */
$brand-color:       #82a437!default;
$brand-face:        "Open Sans", sans-serif!default;

/**
 * How big would you like round corners to be by default?
 */
$brand-round:        4px!default;
