/*------------------------------------*\
    PROPERTIES - $FONT
\*------------------------------------*/
/**
 * Base font stuff
 */
 
// $base-font-family:    $brand-face;
$base-monospace-face: Inconsolata, Monaco, Consolas, "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace!default;

$base-font-color:     #333;
$low-key-font-color:  lighten($base-font-color,30%);
