/*------------------------------------*\
    PROPERTIES - $FONT
\*------------------------------------*/
/**
 * Base font stuff
 */
$base-font-family:    "Open Sans", sans-serif!default;
$base-monospace-face: Inconsolata, Monaco, Consolas, "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace!default;

$base-font-color:     #222!default;
$low-key-font-color:  #999!default;
