/*------------------------------------*\
    $FONT-SIZES
\*------------------------------------*/
/**
 * Font-sizes (in pixels). Refer to relevant sections for their implementations.
 */
$base-font-size:    16px!default;
$base-line-height:  24px!default;

$h1-size:           36px!default; // .alpha
$h2-size:           30px!default; // .beta
$h3-size:           24px!default; // .gamma
$h4-size:           20px!default; // .delta
$h5-size:           16px!default; // .epsilon
$h6-size:           14px!default; // .zeta

$giga-size:         96px!default;
$mega-size:         72px!default;
$kilo-size:         48px!default;

$milli-size:        12px!default;
$micro-size:        10px!default;
