/*------------------------------------*\
    $LINKS
\*------------------------------------*/

$link-color:         #4F92C4!default;
$visited-link-color: #6938A8!default;
$active-link-color:  #4F92C4!default;
