/*------------------------------------*\
    PROPERTIES - $RESPONSIVE
\*------------------------------------*/

$responsive:true!default;

$site-nav-breakpoint: 50em;

$before-site-nav-breakpoint: 49.95em;