/*------------------------------------*\
    PROPERTIES - $SPACING
\*------------------------------------*/
/**
 * spacing global variables calculated from other globals.
 */
$base-spacing-unit: $base-line-height!default;
$half-spacing-unit: $base-spacing-unit / 2!default;
$line-height-ratio: $base-line-height / $base-font-size;
