/*------------------------------------*\
    $CODE
\*------------------------------------*/

code,
kbd,
pre,
samp {
    @extend %base-monospace-face;
}

/**
 * Use an explicit font stack to ensure browsers render correct `line-height`.
 */
    pre mark {
        background:none;
        border-bottom:1px solid;
        color:inherit;
    }
