/*------------------------------------*\
    $IMG
\*------------------------------------*/
/**
 * Demo: jsfiddle.net/inuitcss/yMtur
 */
/**
 * Fluid images.
 */
img {
    max-width:100%;
}


/**
 * Non-fluid images if you specify `width` and/or `height` attributes.
 */
img[width],
img[height] {
    max-width:none;
}





/**
 * Images in `figure` elements.
 */
figure > img {
    display:block;
}