/*------------------------------------*\
    $LINK
\*------------------------------------*/

a {	
	color:$link-color;
	text-decoration: none;

	&:hover, &:focus, &:active {
		text-decoration: underline;
	}
}