/*------------------------------------*\
    $LISTS
\*------------------------------------*/

/**
 * apply the global double base-spaced left margin to all lists
 */

ul,ol,dd {
    @extend %double-left-margin; 
}

/**
 * Remove vertical spacing from nested lists.
 */
li {
    > ul,
    > ol {
        margin-bottom:0;
    }
}

.list-no-bullets-margins {
	margin-left:0;
	list-style:none;
    li {
        padding-bottom:3px;
    }
}