/*------------------------------------*\
    $LI--ARROW
\*------------------------------------*/

/**
 * special bullet to use as list bullet
 */

.li--arrow {
    content: "";
    border-color: transparent $base-font-color;
    border-style: solid;
    border-width: $base-font-size/4 0 $base-font-size/4 $base-font-size/3;
    display: block;
    height: 0;
    width: 0;
    left: -$base-font-size;
    top: $base-font-size;
    position: relative;
}