/*------------------------------------*\
    $LIST--BLOCK
\*------------------------------------*/

/**
 * Create big blocky lists of content, e.g.:
 *
   <ul class="list--block">
      <li>Foo</li>
      <li>Bar</li>
      <li>Baz</li>
      <li><a href=# class="list--block__link">Foo Bar Baz</a></li>
   </ul>
 *
 *
 * Demo: http://codepen.io/affenity/pen/yAgem
 *
 * modify to change style to suite your theme
 */

.block-list, .list--block {

    &,
    > li {
        border:0 solid $base-ui-color;
    }
}
.block-list, .list--block {
    list-style:none;
    margin-left:0;
    border-top-width:1px;

    > li {
        border-bottom-width:1px;
        padding:$half-spacing-unit;
    }
}
        .block-list__link, .list--block__link {/* use when the full li is a link*/
            display:block;
            padding:$half-spacing-unit;
            margin:-$half-spacing-unit;
        }
