/*------------------------------------*\
    $LIST--BLOCK
\*------------------------------------*/

/**
 * Create big blocky lists of content, e.g.:
 *
   <ul class="list--block">
      <li class="li">Foo</li>
      <li class="li">Bar</li>
      <li class="li">Baz</li>
      <li class="li"><a href=# class="list--block__link">Foo Bar Baz</a></li>
   </ul>
 *
 *
 * Demo: http://codepen.io/affenity/pen/yAgem
 *
 * modify to change style to suite your theme
 */

.block-list, .list--block {

    &,
    > li, .list--block__li {
        border:0 solid $brand-color-2;
    }
}
.block-list, .list--block {
    list-style:none;
    margin-left:0;
    border-bottom: 1px solid $brand-color-2;

    > li, .list--block__li {
        border-top-width:1px;
        padding:$half-spacing-unit;
    }
}
        .block-list__link, .list--block__link {/* use when the full li is a link*/
            display:block;
            padding:$half-spacing-unit;
            margin:-$half-spacing-unit;
        }
