/*------------------------------------*\
    $LINK--INLINE-BLOCK
\*------------------------------------*/

.link--inline-block {
	display: inline-block;
	text-decoration: none;
	color: $base-font-color;
}