/*------------------------------------*\
    $LINK--BLOCK
\*------------------------------------*/

.link--block {
	display: block;
	width: 100%;
	text-decoration: none;
	//color:$base-font-color!important;
	&:hover, &:hover, &:active {
		//background:$brand-color;
		text-decoration: none;
		//color:$base-bg-color!important;
	}
}
