/*------------------------------------*\
    $SPOKEN-FORM
\*------------------------------------*/

/**
 * Spoken forms are for forms that read like spoken word, e.g.:
 *
   <li class=spoken-form>
       Hello, my <label for=spoken-name>name</label> is
       <input type=text class=text-input id=spoken-name>. My home
       <label for=country>country</label> is
       <select id=country>
           <option>UK</option>
           <option>US</option>
           <option>Other</option>
       </select>
   </li>
 *
 */

.spoken-form {
	p, label, .label {
    	display:inline-block;
    	font:inherit;
	}
  p {
    margin-left:$base-spacing-unit;
  }
}