/*------------------------------------*\
    $MEDIA
\*------------------------------------*/

/**
 * Place any image- and text-like content side-by-side, as per:
 * stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code
 * E.g.:
 *
   <div class=media>
       <img src=http://placekitten.com/200/300 alt="" class=media__img>
       <p class=media__body>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
       sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
   </div>
 *
 *
 */

.media {
    &:after {
        @extend .cf;
    }
    @extend %half-bottom-spacing;
}
    .media__img {
        display:inline-block;
    }

    .media__img {
        float:left;
        padding-right:$base-spacing-unit;
    }