/*------------------------------------*\
    $RULES
\*------------------------------------*/

/**
 * Horizontal rules, extend `hr`.
 *
 * Demo: http://codepen.io/affenity/pen/zhtLv
 *
 */

$rule-width:1px;

%rule {
    border: none;
    border-bottom-width: $rule-width;
    border-bottom-style: solid;
    border-color:$base-ui-color;
    margin-bottom: $half-spacing-unit - $rule-width;
}

$default-border: $rule-width solid $base-ui-color;


/**
 * Dotted rules
 */
%rule--dotted {
    border-bottom-style: dotted;
}


/**
 * Dashed rules
 */
%rule--dashed {
    border-bottom-style: dashed;
}


/**
 * Ornamental rules. Places a ยง over the rule.
 */
%rule--ornament {
    position: relative;

    &:after {
        content: "\00A7";
        position: absolute;
        top:   0;
        right: 0;
        left:  0;
        line-height: 0;
        text-align: center;
    }

    /**
    * Pass in an arbitrary ornament though a data attribute, e.g.:
    *
      <hr class="rule  rule--ornament" data-ornament="!">
    *
    */
    &[data-ornament]:after {
        content: attr(data-ornament);
    }
}

.cssgradients %rule--fading {
    border: none;
    height: $rule-width;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 550, from($base-ui-color), to(rgba(0,0,0,0)));
    background: -moz-radial-gradient(bottom, $base-ui-color 39%, rgba(0,0,0,0) 65%);
    background:         gradient(radial, 50% 50%, 0, 50% 50%, 550, from($base-ui-color), to(rgba(0,0,0,0)));
}