/*------------------------------------*\
    $TABLESORTER
\*------------------------------------*/

/**
 *
 * used with the tablesorter js module for displaying sort arrows from a sprite
 *
 */
 
.tablesorter {
	thead {
		i {
			position:absolute;
			right: 3px;
			top:38%;
			background-repeat: no-repeat;
			background-image: url(table-sort-icons.png);
			width:15px;
			height: 15px;
			display: inline-block;
		}
	}
	.header {
		position: relative;
		padding-right: 19px;
		i {
			background-position: center right;
		}
		&:hover {
			cursor: pointer;
			@include quick-inner-shadow($brand-color);
		}
	}
	.headerSortUp {
		i {
			background-position: center left;
		}
	}
	.headerSortDown {
		i {
			background-position: center 50%;
		}
	}
}