/*------------------------------------*\
    $LEDE
\*------------------------------------*/

/**
 * The `.lede` class is used to make the introductory text (usually a paragraph)
 * of a document slightly larger. Add customer styles for your theme
 */

.lede,
.lead {
    // text-shadow: 0px 0px 5px #fff;
    @include font-size($base-font-size * 1.2, $line-height:false);
    @include grid-media-query('desk') {
        @include font-size($base-font-size * 1.4, $line-height:false);
        font-weight:700;
    }
}

.lede__wrapper {
    position: relative;
    .lede {
        @include grid-media-query('wide') {
            padding-top:5%;
        }
    }
}
